  * {
    font-family: 'Anek Tamil';
  }

  body {
    margin: 0px;
  }

  .site-container {
    box-shadow: 0 0 40px 10px rgba(204,204,204,.4);
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
    position: relative;
    z-index: 99;
  }

  .Header {
    display: grid;
    grid-template-areas: "logo nav";
    border-bottom: 2px solid grey;
    max-width: 1500px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .large-subheader {
    font-size: 48px;
    margin-top: 10px;
  }

  .Nav {
    /* gives the .Nav class a name so it can be referenced by the grid-template-areas above*/
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
  }

  .Logo {
    margin-left: 20px;
  }

  .Nav>* {
    justify-self: end;
    margin: 0 20px;
  }

  .small-logo {
    display: none;
  }



  @media (max-width: 700px) {
    .Header {
      grid-template-areas: "logo space" "nav nav";
    }

    .Nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
    }

    .Nav>* {
      justify-self: center;
    }

    .Logo {
      display: none;
    }

    .small-logo {
      display: block;
    }

    .container {
      height: 20vh !important;
      width: 60vw !important;
    }

  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
  }

  /* .container {
    position: relative;
    text-align: center;
    background-image: url("./images/headshot.jpg");
    height: 250px;
    width: 250px;
    background-position: 0px 0px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: white;
    border-radius: 50%;
    margin-top: 50px;
  } */

  .content-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }


  small {
    display: block;
    text-align: left;
  }

  .main-img {
    height: 450px;
    width: 100%;
  }

  h1,
  h2,
  h3,
  p {
    height: 15px;
  }

  .small-header {
    font-size: 20px;
    margin: 0;
  }